html, body { 
    margin: 0;
    padding: 0;
}

html {
    background-color: #233118;
}

body {
    background-color: #3F5727;
    color: #F9D341;
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
    display: flex; /* Flex layout for body */
    flex-direction: column; /* Stack header and main content vertically */
}

header {
    background-color: #233118;
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
    display: flex; /* Flex layout for header */
    justify-content: space-between; /* Space between title and search bar */
    align-items: center; /* Center vertically */
    color: #C3A33E;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

.search-form {
    display: flex; /* Flex layout for search bar */
}

form input[type="text"] {
    padding: 8px;
    border: 1px solid #d9b89b;
    border-radius: 4px;
    margin-right: 10px; /* Space between input and button */
}

form input[type="submit"] { 
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C3A33E;
    color: #fff;
    border: none;
    padding: 8px 16px; /* Add padding to the button */
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #537322;
}

.main-container {
    display: flex; /* Flex layout for main content and sidebar */
    flex: 1; /* Allow main container to grow */
}

.sidebar {
    width: 200px; /* Fixed width for the sidebar */
    background-color: #537322;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

.sidebar a {
    color: #f0e68c;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    color: #C3A33E;
}

.main-content {
    flex: 1; /* Main content takes remaining space */
    padding: 20px;
}

h2{
    background-color: #537322;
    color: #F9D341;
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: italic;
}

footer {
    background-color: #233118;
    padding: 10px;
    text-align: center;
    color: #f0e68c;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Additional styling for tables if needed */
table {
    background-color: #EADEB6;
    border: 1px solid #233118;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #233118;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #233118;
    color: #f0e68c;
}

th a {
    color: #ffffff;
    text-decoration: none;
}

th a:hover {
    color: #f0e68c;
}

td {
    color: #3F5727
}

td:hover {
    color: #C3A33E
}