<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nancy Drew Collection</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>NANCY DREW COLLECTION</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="all_books">All Books</a>
            </li>
            <li>
                <a href="/not_in_library">Not In Library</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>All Books</h2>
        <table>
            <thead>
                <tr>
                    <th><a href="/sort/books?sort=book_no&order={{ order }}">Book No.</a></th> <!-- do the href thing over here where it renders based on 'title', but what's title here?? -->
                    <th><a href="/sort/books?sort=title&order={{ order }}">Title</a></th>
                    <th><a href="/sort/books?sort=publisher&order={{ order }}">Publisher</a></th>
                    <th>Book Status</th>
                </tr>
            </thead>
            <tbody>
                {% for info in book_info %}
                <tr>
                    <td>{{ info[0] }}</td>
                    <td>{{ info[1] }}</td>
                    <td>{{ info[2] }}</td>
                    <td>
                        {% if info[3] == 1 %}
                            Available
                        {% else %}
                            Not Available
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>Lorem ipsum footer footer</p>
    </footer>
</body>
</html>