<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nancy Drew Website Title</title>
    <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="all_books.html">All Books</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>All Books</h2>
        <table>
            <thead>
                <tr>
                    <th>Book No.</th>
                    <th>Title</th>
                    <th>Publisher</th>
                    <th>Book Status</th>
                </tr>
            </thead>
            <tbody>
                {% for info in book_info %}
                <tr>
                    <td>{{ info[0] }}</td>
                    <td>{{ info[1] }}</td>
                    <td>{{ info[2] }}</td>
                    <td>{{ info[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>Lorem ipsum footer footer</p>
    </footer>
</body>
</html>