<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NANCY DREW TITLE HEADER</title>
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="all_books.html">All Books</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>All Books</h2>
        

    </main>
    <footer>
        <p>Lorem ipsum footer footer</p>
    </footer>
</body>
</html>