<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- The title block allows the other tempplates to input their own title -->
    <title>{% block title %}Nancy Drew Collection{% endblock %}</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>Nancy Drew Collection</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="all_books">All Books</a>
            </li>
            <li>
                <a href="/not_in_library">Not In Library</a>
            </li>
        </ul>
        <form method="POST" action="/search">
            <input type="text" name="search" id="search" placeholder="Search for a book... ">
            <input type="submit" value="Search">
        </form> 
    </nav>
    <!-- Allows other templates to use their own content -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Esha Anwar 2024</p>
    </footer>
</body>
</html>