<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Nancy Drew Website Title</title>
  <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
      <header>
        <h1>NANCY DREW TITLE HEADER</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="all_books">All Books</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Welcome</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula eu augue porttitor auctor.</p>
    </main>
    <footer>
        <p>footer text footer textr</p>
    </footer>
</body>

</html>