{% extends "base.html" %}

{% block title %}Home - Nancy Drew Collection{% endblock %}

{% block content %}
<h2>Welcome to Immi's Nancy Drew Collection!</h2>
<p>Here are some of the things you can do:</p>
<ul>
    <li>Search through the entire Nancy Drew Mystery Stories series to find a specific book by title or number.</li>
    <li>Sort the All Books page by clicking on the column titles. This will sort all the books by toggling between ascending and descending order for each column title..</li>
    <li>Look through the Not In Library page to see which books are still needed to be bought to complete the Collection!</li>
</ul>
<p>Happy Detecting!</p>
{% endblock %}